<header class="modal-title">Tem certeza que deseja remover sua Bin?</header>
<div class="modal-actions">
    <button id="delete-btn" class="btn btn-lg btn--primary" onClick="__f5__.bins.delete('<%= id %>')">Sim, remover</button>
    <button id="cancel-btn" class="btn btn-sm btn--primary-ghost" onClick="__f5__.modalCloseListener">Voltar</button>
</div>
