<header class="modal-title">Tem certeza que deseja remover a sua Bin?</header>
<div class="modal-actions">
    <button id="delete-btn" class="btn btn-md btn--primary uppercase">Sim, remover</button>
    <button id="cancel-btn" class="btn btn-sm btn--primary-ghost uppercase">Voltar</button>
</div>
