<div id="<%= typeof modalId == 'undefined' ? 'modal' : modalId %>" class="modal-container">
    <article class="modal">
        <%- body %>
    </article>
    <script>
        const closeModal = () => {
            history.replaceState(history.state, document.title, '/dashboard/resquests');
            const modalContainer = document.querySelector('.modal-container');
            modalContainer.parentElement.removeChild(modalContainer);
        };
        document.querySelector('.modal-container').addEventListener('click', closeModal);
    </script>
</div>
