<span class="ic ic-sm ic-close"></span>
<script>
    document.querySelector('.ic-close').addEventListener('click', function (e) {
        const modal = document.querySelector('.modal-container');
        modal.parentElement.removeChild(modal);
    });
</script>