<header class="modal-title">Dados cadastrados com sucesso!</header>
<span class="modal-disclaimer text-2">Seus dados de pagamento foram registrados com sucesso. <span class="bold">Fique atento:</span> suas faturas serão enviadas por email na data de vencimento prevista.</span>
<div class="modal-actions">
    <button onClick="history.go(0)" class="btn btn-md btn--primary uppercase">entendi</button>
</div>