<header class="modal-title">Dados cadastrados com sucesso!</header>
<span class="modal-disclaimer text-2">Seus dados foram alterados com sucesso. Fique atento: todas as faturas serão enviadas via email no primeiro dia de cada mês.</span>
<div class="modal-actions">
    <button onClick="history.go(0)" class="btn btn-md btn--primary">Entendi</button>
</div>