<%- include('modal_close') %>
<header class="modal-title">Tem certeza que deseja cancelar o pedido do seu ponto?</header>
<div class="modal-actions">
    <button id="delete-btn" class="btn btn-md btn--primary uppercase" data-id="<%= orderId %>">Sim, cancelar</button>
    <button id="cancel-btn" class="btn btn-sm btn--primary-ghost uppercase">Voltar</button>
</div>
<script>
    document.querySelector('#cancel-btn').addEventListener('click', () => document.querySelector('.modal-container').click());
    document.querySelector('#delete-btn').addEventListener('click', function () {
        const reqId = this.dataset.id;
        $.ajax({
            url: `/dashboard/requests/${reqId}`,
            type: 'DELETE',
            success: (data) => {
                const modalContainer = document.querySelector('.dashboard__main .modal-container');
                if (modalContainer) {
                    document.querySelector('.dashboard__main').removeChild(modalContainer);
                }
                document.querySelector('.dashboard__main').innerHTML += data;
            }
        });
    });
</script>
