<link rel="stylesheet" href="/css/bin_request.css">

<section class="new-bin">
    <main class="new-bin__left-side">
        <form>
            <div class="form-group bin_address">
                <label for="bin_address" class="text-4 bold">
                    <span class="badge badge--active">1</span>
                    Pesquise abaixo um de nossos endereços:
                </label>
                <input id="address" class="form-control" type="text" placeholder="Digite um local ou endereço" />
            </div>
            <div class="form-group bin_size">
                <label for="bin_size" class="text-4 bold">
                    <span class="badge">2</span>
                    Escolha o tamanho do seu ponto:
                </label>
                <div class="form-controls">
                    <button id="size-m" class="form-control" disabled><img src="/img/BIN M.png" alt="Bin de tamanho médio">Bin M</button>
                    <button id="size-g" class="form-control" disabled><img src="/img/BIN G.png" alt="Bin de tamanho grande">Bin G</button>
                </div>
            </div>
            <div class="form-footer">
                <button id="save-bin" type="button" class="btn-sm btn--inactive" disabled>Cadastrar Bin</button>
            </div>
        </form>
    </main>
    <aside class="new-bin__right-side">
        <div class="map-wrapper"></div>
    </aside>
</section>
<script>__f5__.bins.configureForm()</script>