<div class="empty-page empty-page--gathering">
    <h2 class="empty-page__title">Em breve!</h2>
    <span class="empty-page__disclaimer">
        <span>Em breve uma nova ferramenta para o agendamento de</span><br>
        <span>coletas que vai facilitar ainda mais a sua vida. Avisaremos via</span><br>
        <span>email quando estiver disponível!</span>
    </span>
</div>