<% if (false) { %>
<% } else { %>
<div class="empty-page empty-page--gathering">
    <h2 class="empty-page__title">Sem coletas agendadas!</h2>
    <span class="empty-page__disclaimer">
        <span>Você não possui nenhuma coleta agendada no momento.</span><br>
        <span>Você pode não ter Bins cadastradas na plataforma ou</span><br>
        <span>ainda não fez nenhum agendamento.</span>
    </span>
    <a href="#" data-route="/dashboard/coletas/agendar" class="schedule-link btn-md btn--primary capitalize">Agendar coleta</a>
</div>
<script>
    function navigate(e) {
        __f5__.router.navigate(e.target.dataset.route);
    };
    document.querySelectorAll('.schedule-link').forEach(el => el.addEventListener('click', navigate));
</script>
<% } %>