<script src="/js/tooltip.js"></script>

<header class="header">
    <div class="header__logo-wrapper">
        <img src="/img/F5-logo.png" srcset="/img/F5-logo@2x.png 2x,
            img/F5-logo@3x.png 3x">
    </div>
    <div class="header__actions-wrapper">
        <% if (canAdd) { %>
            <a id="new-bin-link" href="/dashboard/bins/cadastrar" class="btn-md btn--primary capitalize">cadastrar ponto</a>
        <% } else { %>
            <button id="new-bin-link" class="btn-md btn--inactive capitalize" disabled>cadastrar ponto</button>
        <% } %>
        <span class="ic-notification"></span>
        <div id="user-menu" class="user-menu">
            <div class="user-menu__initials text-2">AB</div>
            <div class="user-menu__arrow-down">
                <img src="/icons/arrow_down.svg" alt="Abrir menu do usuário">
            </div>
        </div>
    </div>
</header>
<script>
    const t = new Tooltip(document.querySelector('#user-menu'), {
        title: `
        <div class="user-menu__dropdown text-4 tooltip__inner">
            <div class="user-menu__dropdown-header">
                <span class="name"><%= org.name %></span>
                <span class="email"><%= user.email %></span>
            </div>
            <div class="user-menu__dropdown-body">
                <ul>
                    <li>
                        <a id="my-account-link" title="Não implementado ainda" style="color:inherit; text-decoration: none">Minha conta</a>
                    </li>
                    <li>
                        <a id="payment-link" href="/dashboard/payment" style="color:inherit; text-decoration: none">Pagamento</a>
                    </li>
                    <li>
                        <a id="logout-link" href="/users/logout" style="color:inherit; text-decoration: none">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    `,
        placement: 'bottom-start',
        html: true
    });
</script>