<header class="header">
    <div class="header__title">
        <% if (dashboard) {%>
            <span class="text-2" style="line-height: initial;">Olá,</span>
            <h2 class="dashboard-title"><%= org.name %></h2>
        <% } else {%>
            <h2 class="dashboard-title"><%= title %></h2>
        <% } %>
    </div>
    <% if (!hideActions) {%>
        <div class="header__actions-wrapper text-6">
            <%- include('../components/new-bin-link', { canAdd })%>
        </div>
    <% } %>
</header>