<link rel="stylesheet" href="/css/payment.css">
<script src="/js/jq-mask-plugin.js"></script>

<form class="payment__form">
    <div class="form-group">
        <label class="text-2" for="name">Nome do titular *</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Digite o nome do titular igual ao cartão" required value="<%= typeof org.payment_info != 'undefined' ? org.payment_info.name : '' %>" />
    </div>
    <div class="form-group">
        <label class="text-2" for="number">Número do Cartão *</label>
        <input type="text" id="number" name="number" class="form-control"
            placeholder="Ex.: 0000 0000 0000 0000" required value="<%= typeof org.payment_info != 'undefined' ? org.payment_info.number : '' %>"/>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label class="text-2" for="validity">Validade *</label>
            <input type="text" id="validity" name="validity" class="form-control" placeholder="Ex.: 10/2024"
                required value="<%= typeof org.payment_info != 'undefined' ? org.payment_info.validity : '' %>"/>
        </div>
        <div class="form-group">
            <label class="text-2" for="cvv">CVV *</label>
            <input type="text" id="cvv" name="cvv" class="form-control" placeholder="Ex.: 123"
                required value="<%= typeof org.payment_info != 'undefined' ? org.payment_info.cvv : '' %>"/>
        </div>
    </div>
    <div class="form-footer">
        <% if (org.payed) { %>
            <input id="save" type="button" class="btn-lg btn--primary uppercase" value="Editar dados de pagamento" />
        <% } else { %>
            <input id="save" type="button" class="btn-md btn--inactive uppercase" disabled value="Cadastrar cartão" />
        <% } %>
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#cvv').mask('000');
        $('#validity').mask('00/0000');
        $('#number').mask('0000 0000 0000 0000');
    });
    
    const data = {
        name: '',
        number: '',
        validity: '',
        cvv: ''
    };
    const valid = {
        name: true,
        number: true,
        validity: true,
        cvv: true
    };
    const checkForm = (e) => {
        const elId = e.target.id;
        data[elId] = e.target.value;
        valid[elId] = e.target.validity.valid;
        const saveButton = document.querySelector('#save');
        const isValid = valid.name && valid.number && valid.validity && valid.cvv;
        if (isValid && saveButton.disabled) {
            saveButton.removeAttribute('disabled');
            saveButton.classList.add('btn--primary');
            saveButton.classList.remove('btn--inactive');
        } else if (!isValid && !saveButton.disabled) {
            saveButton.setAttribute('disabled', true);
            saveButton.classList.remove('btn--primary');
            saveButton.classList.add('btn--inactive');
        }
    };
    document.querySelector('#name').addEventListener('keyup', checkForm);
    document.querySelector('#number').addEventListener('keyup', checkForm);
    document.querySelector('#validity').addEventListener('keyup', checkForm);
    document.querySelector('#cvv').addEventListener('keyup', checkForm);
    document.querySelector('#save').addEventListener('click', () => {
        const saveButton = document.querySelector('#save');

        const cc = `name=${data.name}&number=${data.number}&validity=${data.validity}&cvv=${data.cvv}`;
        $.post('/payment/credit-card', cc, (data) => {
            const modalContainer = document.querySelector('.dashboard__main .modal-container');
            if (modalContainer) {
                document.removeChild(modalContainer);
            }
            document.querySelector('.dashboard__main').innerHTML += data;
        });
    });

    checkForm({ target: document.querySelector('#name') });
    checkForm({ target: document.querySelector('#number') });
    checkForm({ target: document.querySelector('#validity') });
    checkForm({ target: document.querySelector('#cvv') });
</script>
