<aside class="sidebar">
    <ul class="sidebar__menu">
        <li class="sidebar__menu-item uppercase">Dashboard</li>
        <li class="sidebar__menu-item uppercase">Minhas bins</li>
        <li class="sidebar__menu-item uppercase">Meus pedidos</li>
        <li class="sidebar__menu-item uppercase">Coletas</li>
    </ul>
    <div class="sidebar__footer">
        <button class="btn-sm  btn--secondary-ghost uppercase">Ir para o site</button>
        <div class="sidebar__social-menu">
            <span class="ic ic-sm ic-facebook pointer"></span>
            <span class="ic ic-sm ic-instagram pointer"></span>
            <span class="ic ic-sm ic-twitter pointer"></span>
            <span class="ic ic-sm ic-linkedin pointer"></span>
        </div>
    </div>
</aside>