<% if (canAdd) { %>
    <a id="new-bin-link" href="#" onClick="__f5__.router.navigate('/dashboard/bins/cadastrar')" class="btn-md btn--primary">Solicitar Bin</a>
<% } else { %>
    <button id="new-bin-link" class="btn-md btn--inactive capitalize" disabled>Solicitar Bin</button>
<% } %>