<% if (canAdd) { %>
    <a id="new-bin-link" href="#" data-route="/dashboard/bins/cadastrar" class="btn-md btn--primary capitalize">Solicitar Bin</a>
<% } else { %>
    <button id="new-bin-link" class="btn-md btn--inactive capitalize" disabled>Solicitar Bin</button>
<% } %>