<link rel="stylesheet" href="/css/dashboard.css">

<div class="dashboard">
    <%- include('partials/header', { canAdd: org.payed }) %>
    <div class="dashboard__body">
        <%- include('partials/sidebar') %>
        <main class="dashboard__main">
            <%- include('partials/' + page) %>
        </main>
    </div>
</div>

