<% include ./partials/messages %>
<link rel="stylesheet" href="css/login.css">
<section class="login lop">
    <aside class="lop__left-side">
        <div class="lop__header">
            <img src="/img/F5-logo.svg">
        </div>
        <img src="/img/login.png" srcset="/img/login@2x.png 2x,
                 img/login@3x.png 3x">
        <div class="lop__left-text text-0">
            <span>Venha fazer parte</span>
            <span>desse movimento.</span>
            <span>Da um F5!</span>
        </div>
    </aside>
    <main class="lop__right-side">
        <div class="lop__header">
            <span class="lop__register-link text-4">
                Já tem uma conta na F5? <a class="link--primary" href="/app/login">Entrar</a>
            </span>
        </div>
        <div class="lop__box">
            <div class="lop__box-body">
                <h2 class="text-1 bold">Esqueceu a senha?</h2>
                <span class="text-4 tip">Insira o email que você usou para se cadastrar e nós te
                enviaremos instruções para redefinir sua senha.</span>
                <form action="/users/forgot-password" method="POST">
                    <div class="form-group email">
                        <label class="text-4" for="email">Email</label>
                        <%- include('partials/custom-input', {type:"email", id:"email", name:"email", placeholder:"Digite seu email"}); %>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn-lg btn--primary capitalize">Redefinir senha</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</section>