<% include ./partials/messages %>
<link rel="stylesheet" href="css/login.css">
<section class="login logged-out-page">
    <aside class="login__left-side">
        <img src="/img/login.png" srcset="/img/login@2x.png 2x,
                 img/login@3x.png 3x">
        <div class="login__left-text text-0-slab">
            <span>Venha fazer parte</span>
            <span>desse movimento</span>
        </div>
    </aside>
    <main class="login__right-side">
        <div class="login__header">
            <img src="/img/F5_fundo_escuro.png" srcset="/img/F5_fundo_escuro@2x.png 2x,
                       img/F5_fundo_escuro@3x.png 3x">
            <span class="login__register-link text-4">
                Não possui uma conta? <a class="link--primary" href="/cadastro">Registre-se</a>
            </span>
        </div>
        <div class="login__box">
            <h2 class="text-1-slab">Acesse sua conta</h2>
            <h4 class="text-2">Insira seus dados abaixo</h4>
            <form action="/users/login" method="POST">
                <div class="form-group email">
                    <label class="text-2" for="email">Email comercial</label>
                    <%- include('partials/custom-input', {type:"email", id:"email", name:"email", placeholder:"Digite seu email"}); %>
                </div>
                <div class="form-group password">
                    <label class="text-2" for="password">Senha</label>
                    <%- include('partials/custom-input', {type:"password", id:"password", name:"password", placeholder:"Digite sua senha"}); %>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn-sm btn--primary">Login</button>
                    <a class="text-4" href="/esqueci-minha-senha">Esqueceu sua senha?</a>
                </div>
            </form>
        </div>
    </main>
</section>