<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/main.css">
    <title><%= typeof title == 'undefined' ? 'F5' : 'F5 - ' + title%></title>
    <link rel="icon" href="/favicon/16x16.png" sizes="16x16">
    <link rel="icon" href="/favicon/32x32.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> -->
    <script src="https://d3js.org/d3.v4.js"></script>


    <script type="text/javascript">
        window.__f5__ = {
            parseDashHTML: function (data) {
                const domParser = new DOMParser();
                const doc = domParser.parseFromString(data, 'text/html');
                const mainSel = '.dashboard__main';
                const main = doc.querySelector(mainSel);
                const dashBody = document.querySelector('.dashboard__body');
                dashBody.removeChild(document.querySelector(mainSel));
                dashBody.appendChild(main);
                document.title = 'F5 - ' + dashBody.querySelector('.dashboard-title').textContent;
                doc.clear();

                __f5__.removeDashLoader();
            },
            removeDashLoader: function () {
                setTimeout(() => {
                    const loader = document.querySelector('.dashboard-loader');
                    if (!loader) { return; }
                    loader.classList.add('hide');
                    loader.classList.remove('blink');
                }, 3000);
            },
            router: {
                navigate: function (route) {
                    if (sessionStorage.getItem('lastroute') === route) { return false; }

                    const loader = document.querySelector('.dashboard-loader');
                    if (loader) {
                        loader.classList.remove('hide');
                        loader.classList.add('blink');
                    }

                    const prevActive = document.querySelector('.sidebar__menu-item.active');
                    if (prevActive) { prevActive.classList.remove('active'); }
                    const activeCandidate = document.querySelector(`.sidebar__menu-item a[data-route="${route}"]`);
                    if (activeCandidate) { activeCandidate.parentElement.classList.add('active'); }

                    history.replaceState(history.state, document.title, '/app' + route);

                    $.get('/app' + route, data => {
                        __f5__.parseDashHTML(data);
                        sessionStorage.setItem('lastroute', route);

                        if (route.endsWith('dashboard')) {
                            const dashGrid = document.querySelector('.dashboard-grid');
                            if (!dashGrid) { return; }
                            $.get('/app/dashboard/data', data => {
                                function setPinPointsOnDashMap() {
                                    const places = data.places;
                                    var map = new google.maps.Map(
                                        document.querySelector('.map-wrapper'), {
                                        center: places[0],
                                        clickableIcons: true,
                                        fullscreenControl: true,
                                        mapTypeControl: true,
                                        panControlOptions: true,
                                        rotateControl: true,
                                        streetViewControl: true,
                                        zoomControl: true,
                                        minZoom: 10,
                                        maxZoom: 14,
                                        zoom: 12,
                                    }
                                    );
                                    places.forEach(place => new google.maps.Marker({
                                        icon: '/img/F5-logo.png',
                                        position: place,
                                        map: map
                                    }));
                                }
                                
                                setPinPointsOnDashMap();

                                /* D3 CHART */
                                const dashChart = document.querySelector('#dashChart');
                                var width = dashChart.parentElement.offsetWidth,
                                    height = dashChart.parentElement.offsetHeight,
                                    margin = 0;
                                var radius = Math.min(width * 0.8, height * 0.8) / 2 - margin;
                                var arc = d3.arc()
                                    .innerRadius(110)         // This is the size of the donut hole
                                    .outerRadius(radius)
                                var svg = d3.select("#dashChart")
                                    .append("svg")
                                    .attr("width", width)
                                    .attr("height", height)
                                    .append("g")
                                    .attr("transform", "translate(" + width / 2 + "," + height * 0.8 / 2 + ")");

                                // Create dummy data
                                var chartData = {
                                    fullBins: data.gathering.fullBins,
                                    emptyBins: data.gathering.emptyBins
                                }

                                // set the color scale
                                var color = d3.scaleOrdinal()
                                    .domain(chartData)
                                    .range(['#ef4941', '#70eb8d'])

                                // Compute the position of each group on the pie:
                                var pie = d3.pie()
                                    .value(function (d) { return d.value; })
                                var data_ready = pie(d3.entries(chartData))

                                // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
                                svg
                                    .selectAll('.arc')
                                    .data(data_ready)
                                    .enter()
                                    .append('path')
                                    .attr('d', arc)
                                    .attr('fill', function (d) { return (color(d.data.key)) })
                                    .style("opacity", 0.7);
                                svg
                                    .selectAll('.arc')
                                    .data(data_ready)
                                    .enter()
                                    .append("text")
                                    .attr("text-anchor", "middle")
                                    .attr('font-size', '3em')
                                    .attr('y', 20)
                                    .text('100%');

                                var lg = d3.select("#dashChart svg").append('g')
                                    .attr('class', 'legend')
                                    .attr("width", width * 2)
                                    .attr("height", height * 0.4)
                                    .attr('transform', `translate(${width / 2},${height * 0.8})`)
                                    .append('g')
                                    .attr("width", width * 2)
                                    .attr("height", height * 0.4)
                                    .attr('transform', (d, i) => `translate(${i * -100},${height * 0})`);
                                lg.append("rect").attr('x', -width / 4).attr('y', 30).attr("width", 15).attr("height", 15).attr("r", 5).style("fill", "#70eb8d")
                                lg.append("text").attr('x', -width / 4 + 25).attr('y', 40).text("Bins coletadas").style("font-size", "12px").attr("alignment-baseline", "middle")
                                lg.append("rect").attr('x', +width / 10).attr('y', 30).attr("width", 15).attr("height", 15).attr("r", 5).style("fill", "#ef4941")
                                lg.append("text").attr('x', +width / 10 + 25).attr('y', 40).text("Bins para coletar").style("font-size", "12px").attr("alignment-baseline", "middle")
                            });
                        } else if (route.endsWith('bins/cadastrar')) {
                            __f5__.bins.configureForm();
                        } else if (route.endsWith('profile')) {
                            __f5__.payment.configureForm();
                        }
                    });

                    return true;
                }
            }
        };
        window.doLogin = (empty) => {
            if (empty) {
                $('#email').val('empresa@teste.com');
                $('#password').val('123456');
            } else {
                $('#email').val('teste123@gmail.com');
                $('#password').val('123456');
            }
            $('#login').click();
        };
        window.doLogout = () => {
            $('#logout').click();
        }
        window.openBinRequest = () => {
            $('#new-bin-link').trigger('click');
        }
        window.searchKalunga = () => {
            $('#address').val('Kalunga');
            setTimeout(() => $('#address').focus());
        }
    </script>
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
    <script>
	window.fwSettings={
	'widget_id':47000003240
	};
	!function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}() 
</script>
</body>
</html>
