<% include ./partials/messages %>
<link rel="stylesheet" href="css/login.css">
<section class="login lop">
  <aside class="lop__left-side">
    <div class="lop__header">
      <img src="/img/logo-login.svg">
    </div>
    <img src="/img/login.png">
  </aside>
  <main class="lop__right-side">
    <div class="lop__header">
      <span class="lop__register-link text-4">
        Ainda não possui uma conta? <a class="link--primary" href="/app/cadastro">Registre-se</a>
      </span>
    </div>
    <div class="lop__box">
      <div class="lop__box-body">
        <h2 class="text-1 bold">Entrar</h2>
        <form action="/app/users/login" method="POST">
          <div class="form-group email">
            <label class="text-4" for="email">Email</label>
            <%- include('partials/custom-input', {type:"email", id:"email", name:"email", placeholder:"Digite seu email"}); %>
          </div>
          <div class="form-group password">
            <label class="text-4" for="password">Senha</label>
            <%- include('partials/custom-input', {type:"password", id:"password", name:"password", placeholder:"Digite sua senha"}); %>
          </div>
          <div class="form-footer">
            <button id="login" type="submit" class="btn-sm btn--primary capitalize">Entrar</button>
            <a id="forgot-pass" class="text-4" style="line-height: initial;" href="/app/esqueci-minha-senha">Esqueceu a senha?</a>
          </div>
        </form>
      </div>
    </div>
  </main>
</section>