<% include ./partials/messages %>
<link rel="stylesheet" href="css/register.css">
<script src="js/jq-mask-plugin.js"></script>
<section class="register lop">
  <aside class="lop__left-side">
    <div class="lop__header">
      <img src="/img/logo-register.svg">
    </div>
    <img src="/img/register.png">
  </aside>
  <main class="lop__right-side">
    <div class="lop__header">
      <span class="lop__login-link text-4">
        Já tem uma conta na F5? <a class="link--primary" href="/app/login">Entrar</a>
      </span>
    </div>
    <div class="lop__box step-1 hide">
      <div class="lop__box-body">
        <h2 class="text-1 bold">Registre-se</h2>
        <form id="form-step-1">
          <div class="form-group">
            <label class="text-4" for="name">Nome da empresa</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Digite o nome da sua empresa" required/>
          </div>
          <div class="form-group">
            <label class="text-4" for="address">Endereço</label>
            <input type="text" id="address" name="address" class="form-control" placeholder="Digite o endereço da empresa" required/>
          </div>
          <div class="form-group">
            <label class="text-4" for="cnpj">CNPJ</label>
            <input type="text" id="cnpj" name="cnpj" class="form-control" placeholder="Digite o CNPJ da empresa sem pontos" required/>
          </div>
          <div class="form-footer">
            <span></span>
            <button id="next-step" type="submit" class="link--primary">Prosseguir</button>
          </div>
        </form>
      </div>
    </div>
    <div class="lop__box step-2 hide">
      <div class="lop__box-body">
        <h2 class="text-1 bold">Registre-se</h2>
        <form id="form-step-2">
          <div class="form-group">
            <label class="text-4" for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Digite seu email" required/>
          </div>
          <div class="form-group">
            <label class="text-4" for="password">Senha</label>
            <input minlength="6" type="password" id="password" name="password" class="form-control" placeholder="Digite sua senha" required/>
          </div>
          <div class="form-group">
            <label class="text-4" for="confirm_password">Confirme sua senha</label>
            <input minlength="6" type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirme a senha acima" required/>
            <div class="form-error"></div>
          </div>
          <div class="form-group">
            <label class="text-5" style="line-height: inherit; font-weight: normal; margin-top: 10px" for="accept"><input name="accept" id="accept" type="checkbox" required />Ao criar uma conta você concorda com os nossos <a class="link--primary" href="">Termos de Serviço</a> e <a class="link--primary" href=""></a>Política de Privacidade.</a></label>
          </div>
          <div class="form-footer">
            <button id="submit" type="submit" class="btn-sm btn--primary">Registrar</button>
  
            <button id="prev-step" type="button" class="link--primary">Voltar</button>
          </div>
        </form>
      </div>
    </div>
  </main>
</section>

<script>
  $(document).ready(function () {
    $('#cnpj').mask('00.000.000/0000-00');
    $('#tel').mask('(00) 0000-0000');
  });
  
  const lopBox1Sel = '.lop__box.step-1';
  const lopBox2Sel = '.lop__box.step-2';
  const lopBox1 = $(lopBox1Sel);
  const lopBox2 = $(lopBox2Sel);

  lopBox1.removeClass('hide');

  $(lopBox1Sel + ' form').submit(function (e) {
    e.preventDefault();
    lopBox1.addClass('hide');
    lopBox2.removeClass('hide');
  });

  $(lopBox2Sel + ' form .link--primary').click(function () {
    lopBox2.addClass('hide');
    lopBox1.removeClass('hide');
  });
  
  $(lopBox2Sel + ' form').submit(function (e) {
    e.preventDefault();

    if ($('#password.form-control').val() !== $('#confirm_password.form-control').val()) { return; }

    const data = $(this).serialize() + '&' + $(lopBox1Sel + ' form').serialize();
    $.post('users/register', data, function (_, textStatus) {
      if (textStatus === 'success') {
        location.href = '/app/dashboard';
      } else {
        console.warn('Register failed')
      }
    });
  });

  const password = $('#password.form-control');
  const confirmPassword = $('#confirm_password.form-control');
  const confirmPasswordError = $('#confirm_password.form-control ~ .form-error');
  function validatePassword() {
    if (password.val() != confirmPassword.val()) {
      confirmPassword.get(0).setCustomValidity('As duas senhas não conferem');
      confirmPasswordError.text('As duas senhas não conferem');
    } else {
      confirmPassword.get(0).setCustomValidity('');
      confirmPasswordError.text('');
    }
  }
  password.change(validatePassword);
  confirmPassword.keyup(validatePassword);
</script>