@import '../colors';

.card {
    border-radius: 3px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: $white;
    padding: 0 28px;
    min-height: 250px;
    display: flex;
    flex-direction: column;

    &-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    &-header > * {
        display: block;
        max-height: 40px;
    }
    
    &-header__title {
        color: $blueberry;
        font-weight: bold;
    }

    &-header__subtitle {
        color: $light-blueberry;
    }

    &-body {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.cards {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;

    .card {
        padding-top: 30px;
    }

    .card:not(:first-of-type) {
        margin-top: 20px;
    }
}