@import "../colors";
@import "../placeholders";

.modal-container {
    .row--bottom-border {
        border-bottom: 2px solid $snow;
    }

    .label {
        color: $blueberry;
        font-weight: bold;
    }

    .value {
        color: $black;
    }

    .btn {
        height: 60px;
    }

    .wizard-step {
        height: 120px;
        align-items: flex-end;
    }
}