@import '../colors';
@import '../variables';

$arrow-size: 15px;

.header {
    background: $dark-blueberry;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    
    height: $header-height;
    
    padding-left: 70px;
    padding-right: 100px;

    .btn--primary {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header,
.header__actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-menu {
    margin-left: 10px;
    display: flex;
    align-items: center;

    &__initials {
        color: $white;
        font-weight: bold;
        background: $dark-hot-pink;
        border-radius: 50%;
        width: 59px;
        height: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__arrow-down {
        display: flex;
        align-items: center;
        height: $header-height;
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
        width: 299px;
        position: absolute;
        top: 0;
        left: -180px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

        &-header {
            background: $lightest-grey;
            height: 79px;
            color: $black;
            padding: 23px 20px 14px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            > * {
                line-height: 1.28;
            }

            .name {
                font-weight: bold;
            }
        }

        &-body {
            background: $white;
            padding: 10px 20px;

            li {
                height: 35px;
                display: flex;
                align-items: center;
            }

            li.active,
            li:active,
            li:focus,
            li:hover {
                border-left: 5px solid $dark-hot-pink;
                padding-left: 10px;
            }
        }
    }
}

.link-anchor {
  position: relative;
  width: 0;
  font-size: .8em;
  opacity: 0;
  transition: opacity .2s ease-in-out;
}
.anchor-wrapper {
  border: none;
}
.anchor-wrapper:hover .link-anchor {
  opacity: 1;
}

section h1[id]:focus,
section h2[id]:focus,
section h3[id]:focus,
section h4[id]:focus,
section h5[id]:focus {
  outline: 0;
}

p.thin {
    font-weight: 100;
    margin: 0;
    line-height: 1.2em;
}

p.bold {
    font-weight: 900;
    margin: 0;
    margin-top: -5px;
}

.rel {
    width: 30%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 20px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.popper,
.tooltip {
    position: absolute;
    color: black;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px;
    text-align: center;
    top: -25px !important;
    z-index: 5;
}
.style5 .tooltip {
    background: #1E252B;
    color: #FFFFFF;
    max-width: 200px;
    width: auto;
    font-size: .8rem;
    padding: .5em 1em;
}
.popper .popper__arrow,
.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $arrow-size;
    border-color: $lightest-grey;
}
.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
    margin-bottom: $arrow-size;
}
.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: $arrow-size $arrow-size 0 $arrow-size;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    bottom: -$arrow-size;
    left: calc(50% - #{$arrow-size});
    margin-top: 0;
    margin-bottom: 0;
}
.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
    margin-top: $arrow-size;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 $arrow-size $arrow-size $arrow-size;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -$arrow-size;
    left: calc(50% - #{$arrow-size});
    margin-top: 0;
    margin-bottom: 0;
}
.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
    margin-left: $arrow-size;
}
.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: $arrow-size $arrow-size $arrow-size 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -$arrow-size;
    top: calc(50% - #{$arrow-size});
    margin-left: 0;
    margin-right: 0;
}
.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
    margin-right: $arrow-size;
}
.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: $arrow-size 0 $arrow-size $arrow-size;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -$arrow-size;
    top: calc(50% - #{$arrow-size});
    margin-left: 0;
    margin-right: 0;
}
