@import '../colors';
@import '../variables';

$arrow-size: 15px;

.header {
    height: $header-height;
    
    padding-left: 70px;
    padding-right: 100px;

    .btn--primary {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header,
.header__actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
