.sidebar {
    min-width: $sidebar-width;
    max-width: $sidebar-width;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: $blueberry-2;

    .logo-wrapper img {
        width: 27px;
        height: 35px;
    }
    
    &__header {
        background: $dark-blue-grey;
        height: 260px;
        padding-top: 28px;

        .user-info {
            flex: 1;
            margin-top: 26px;
        }

        .logo-org {
            width: 111px;
            height: 111px;
            border-radius: 50%;
        }

        .name {
            color: $white;
            margin-top: 15px;
            font-size: 1rem;
        }
        
        .email {
            color: rgba($white, 0.5);
            margin-top: 5px;
            font-size: 0.8rem;
        }
    }

    &__header,
    &__header .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__menu-item {
        color: $white;
        height: 55px;
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: 0.5;
        padding-left: 39px;
        
        a {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;

            .ic {
                margin-right: 16px;
            }
        }
    }
    &__menu-item.disabled,
    &__menu-item.disabled a {
        cursor: not-allowed;
    }
    &__menu-item:not(.disabled).active,
    &__menu-item:not(.disabled):active,
    &__menu-item:not(.disabled):hover {
        opacity: 1;
    }

    &__footer a { /* stylelint-disable-line */
        background-color: $dark-blue-grey;

        &:hover {
            background-color: $dark-hot-pink;
        }
    }

    &__footer,
    &__header .logo-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__social-menu {
        display: flex;
        justify-content: center;
        height: 40px;
        width: 100%;
        margin-bottom: 36px;

        .ic { /* stylelint-disable-line */
            display: block;
            border-radius: 50%;
            background-position: 50%;
            background-size: 50%;
        }
        
        .ic-facebook {
            background-size: 30%;
        }

        .ic:not(:first-child) {
            margin-left: 22px;
        }
    }

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)
    and (orientation : landscape) {
        .logo-wrapper img {
            width: 57px;
            height: 50px;
            object-fit: initial;
        }

        .user-info {
            margin-top: 0;
            
            .logo-org {
                display: none;
            }

            .name {
                font-size: 2rem;
            }

            .email {
                font-size: 1.3rem;
            }
        }
    }
}