@import "colors";

.badge {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 33px;
    width: 33px;
    border-radius: 33px;

    background: $light-grey;
    color: $white;

    &--active {
        background: $dark-hot-pink;
    }
}