@import "colors";
@import "variables";

%btn {
  height: 35px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16);
  border-radius: 100px;
  border: none;
  font-size: $text-5-font-size;
  cursor: pointer;
  -webkit-transition: background-position 0.2s ease-in-out;
  transition: background-position 0.2s ease-in-out;
  background-size: 200%;
}

%btn-ghost {
  @extend %btn;
  background: transparent;
  border-style: solid;
  border-width: 3px;
}

%btn-reset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a.btn-sm,
a.btn-md,
a.btn-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-reset {
  @extend %btn;
}

.btn-xs {
  @extend %btn;
  height: 30px;
  width: 85px;
  box-shadow: none;
  font-size: 14px;
}

.btn-sm {
  @extend %btn;
  width: 130px;
}

.btn-md {
  @extend %btn;
  width: 130px;
}

.btn-lg {
  @extend %btn;
  width: 190px;
}

.btn--inactive {
  background-image: linear-gradient(to left, $light-grey, $dark-grey, $light-grey);
  color: $white;
}

.btn--primary {
  background-image: linear-gradient(to left, $squash, $dark-hot-pink, $squash);
  color: $white;
  
  &:focus,
  &:hover {
    background-position-x: 100%;
  }
}

.btn--danger-ghost {
  @extend %btn-ghost;
  border-color: #a5a5a5;
  border-width: 1px;
  color: #a5a5a5;
  
  &:focus,
  &:hover {
    background-color: $tomato;
    border-color: $tomato;
    color: $white;
  }
}

.btn--primary-ghost {
  @extend %btn-ghost;
  border-color: $dark-hot-pink;
  color: $dark-hot-pink;
  
  &:focus,
  &:hover {
    background-color: $dark-hot-pink;
    color: $white;
  }
}

.btn--secondary-ghost {
  @extend %btn-ghost;
  border-color: $white;
  color: $white;
  
  &:focus,
  &:hover {
    background-color: $dark-hot-pink;
    border-color: $dark-hot-pink;
  }
}

.link--primary {
  @extend %btn-reset;
  color: $dark-hot-pink;
}

.link--secondary {
  @extend %btn-reset;
  color: $black;
}
