$dark-hot-pink: #e4007a;
$dark-blue-grey: #2a2154;
$light-blueberry: #716994;
$blueberry: #5a3ca0;
$dark-blueberry: #23194e;
$black: #2d2d2d;
$sunflower-yellow: #ffdb00;
$squash: #f29224;
$pastel-red: #eb5e57;
$light-grey: #bcbcbc;
$dark-grey: #666666;
$snow: #f1f1f1;
$white: #ffffff;