@import "colors";
@import "typography";

.form-control {
  @extend .text-2;

  border-radius: 100px;
  border: solid 1px $light-grey;
  background-color: $white;

  line-height: 3.25;
  letter-spacing: normal;
  text-align: left;

  padding-left: 30px;

  display: flex;
  align-items: center;

  @media screen and (max-width: $xlg-width) {
    height: 45px;
  }

  @media screen and (min-width: $xlg-width) {
    height: 60px;
  }

  .icon {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
    width: 30px;
  }

  input {
    border: none;
    border-bottom: solid 1px $light-grey;
    border-top: solid 1px $light-grey;
    height: 95%;
    width: 100%;
    font-size: inherit;
    margin-left: 5px;
    border-radius: 0 100px 100px 0;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.form-error {
  color: $pastel-red;
  margin-top: 5px;
}