@import "colors";
@import "typography";

input.form-control,
.form-control input {
  border: none;
  height: 95%;
  width: 100%;
  font-size: inherit;
  margin-left: 5px;
  border-radius: 0 5px 5px 0;

  &:focus {
    outline: none;
  }
}

/* stylelint-disable-line */ input.form-control,
.form-control {
  height: 50px !important;
  border-radius: 5px;
  border: solid 1px $light-grey;
  background-color: $white;

  line-height: 3.25;
  letter-spacing: normal;
  text-align: left;

  padding-left: 30px;

  display: flex;
  align-items: center;

  &:focus-within {
    border-color: $dark-hot-pink;
  }

  @media screen and (max-width: $xlg-width) {
    height: 40px !important;
    padding-left: 15px;

    .icon { /* stylelint-disable-line */
      margin-right: 5px !important;
    }
  }

  @media screen and (min-width: $xlg-width) {
    height: 50px !important;
  }

  .icon { /* stylelint-disable-line */
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 30px;
    width: 30px;
  }

}

.form-group {
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
  }
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.form-error {
  color: $pastel-red;
  margin-top: 5px;
}