.ic {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ic-sm {
    height: 22px;
    width: 22px;
}

.ic-md {
    height: 32px;
    width: 32px;
}

.ic-close {
    background-image: url(/icons/close.svg);
}
.ic-edit {
    background-image: url(/icons/edit.svg);
    &:hover {
        background-image: url(/icons/edit_purple.svg);
    }
}
.ic-delete {
    background-image: url(/icons/delete.svg);
    &:hover {
        background-image: url(/icons/delete_red.svg);
    }
}
.ic-notification {
    background-image: url(/icons/notification.svg);
}
.ic-facebook {
    background-image: url(/icons/facebook.svg);
    &:hover {
        background-image: url(/icons/facebook_pink.svg);
    }
}
.ic-instagram {
    background-image: url(/icons/instagram.svg);
    &:hover {
        background-image: url(/icons/instagram_pink.svg);
    }
}
.ic-twitter {
    background-image: url(/icons/twitter.svg);
    &:hover {
        background-image: url(/icons/twitter_pink.svg);
    }
}
.ic-linkedin {
    background-image: url(/icons/linkedin.svg);
    &:hover {
        background-image: url(/icons/linkedin_pink.svg);
    }
}