.ic {
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ic-sm {
    height: 22px;
    width: 22px;
}

.ic-md {
    height: 32px;
    width: 32px;
}

.ic-bins {
    background-image: url(/icons/bins.svg);
}
.ic-block {
    background-image: url(/icons/block.svg);
}
.ic-check {
    background-image: url(/icons/check.svg);
}
.ic-close {
    background-image: url(/icons/close.svg);
}
.ic-coletas {
    background-image: url(/icons/calendar.svg);
}
.ic-dashboard {
    background-image: url(/icons/dashboard.svg);
}
.ic-edit {
    background-image: url(/icons/edit.svg);
    &:hover {
        background-image: url(/icons/edit_purple.svg);
    }
}
.ic-delete {
    background-image: url(/icons/delete.svg);
    &:hover {
        background-image: url(/icons/delete_red.svg);
    }
}
.ic-logout {
    background-image: url(/icons/logout.svg);
}
.ic-notification {
    background-image: url(/icons/notification.svg);
}
.ic-pause {
    background-image: url(/icons/pause.svg);
}
.ic-profile {
    background-image: url(/icons/perfil.svg);
}
.ic-site {
    background-image: url(/icons/site.svg);
}
.ic-solicitacoes {
    background-image: url(/icons/solicitacoes.svg);
}
.ic-facebook {
    background-image: url(/icons/facebook.svg);
    &:hover {
        background-image: url(/icons/facebook_white.svg);
    }
}
.ic-instagram {
    background-image: url(/icons/instagram.svg);
    &:hover {
        background-image: url(/icons/instagram_white.svg);
    }
}
.ic-twitter {
    background-image: url(/icons/twitter.svg);
    &:hover {
        background-image: url(/icons/twitter_white.svg);
    }
}
.ic-linkedin {
    background-image: url(/icons/linkedin.svg);
    &:hover {
        background-image: url(/icons/linkedin_white.svg);
    }
}