@import "colors";
@import "variables";

$content-padding-top: 45px;

.lop,
.logged-out-page {
  height: 100vh;
  width: 100vw;

  display: flex;

  > *:first-child {
    width: 35vw;
    position: relative;
  }

  > *:last-child {
    flex: 1;
  }

  &__header {
    top: 0;

    display: flex;
    align-items: center;

    padding-top: $content-padding-top;

     img {
      object-fit: contain;

      @media screen and (max-width: $md-width) {
        height: 128px;
        width: 128px;
      }
    
      @media screen and (min-width: $md-width + 1px) and (max-width: $xlg-width) {
        height: 64px;
        width: 64px;
      }
    
      @media screen and (min-width: $xlg-width + 100px) {
        height: 110px;
        width: 110px;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-bottom: 155px;

    &-body {
      width: 50%;
      min-width: 390px;
      max-width: 600px;

    }
    
    .tip {
      line-height: 1.19;
    }
  }

  &__box,
  &__header {
    box-sizing: border-box;
    padding: 1rem 5.625rem 0 5rem;
    width: 100%;

    @media screen and (max-width: $xlg-width) {
      padding-left: 3rem !important;
    }
  }
  
  &__left-text {
    padding-top: 1.4rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    color: $white;
    font-size: 2rem;

    span {
        line-height: normal;
    }

    @media screen and (max-width: $xlg-width) {
      padding-left: 3rem !important;
    }

    @media screen and (max-width: $md-width) {
      display: none;
    }
  }

  &__left-side > img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__left-side,
  &__right-side {
    position: relative;
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (max-width: $md-width) {
      width: 100vw;
    }

    .lop__header {
      justify-content: flex-end;
    }

    form {
      max-width: 600px;
    }
  }

  .form-footer {
    margin-top: 50px;
  }

  .form-control {
    width: unset;
    border: none;
    box-shadow: inset 0.1em 0.1em 0.1rem $light-grey;
  }

  button {
    padding-right: 0;
  }

  @media screen and (max-width: $md-width) {

    .btn-sm,
    .link--primary,
    .text-4 {
      font-size: $text-2-font-size;
    }
  }
}

