@import 'colors';
@import 'variables';

%modal-bin-delete {
    .modal {
        height: $modal-bin-delete-height;
        width: $modal-bin-delete-width;

        &-actions {
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 30px;

            .btn {
                border-width: 1px;
            }
        }
    
        &-title {
            max-width: 600px;
            line-height: 1.19;
        }
    }
    
}

%modal-bin-deleted {
    .ic {
        top: 30px;
    }

    .modal {
        padding: 0;
        height: $modal-bin-deleted-height;
        width: $modal-bin-deleted-width;
        justify-content: center;
    }
}

%modal-bin-inserted {
    .modal {
        min-height: 481px;
        max-height: 681px;
        max-width: 851px;
        padding: 49px 73.5px;
        text-align: left;

        .ic {
            top: 30px;
        }
        
        &-disclaimer {
            width: 681px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 0;
        }

        &-title{
            line-height: 1.19;
            width: 75%;
            max-width: 435px;
            text-align: center;
        }
    }

    .label {
        color: $blueberry;
    }

    .row .value {
        margin-left: 50px;
    }

    #order-cancel {
        line-height: initial;
        text-align: center;
    }
}

%modal-order-delete {
    .ic {
        display: none;
    }

    .modal {
        height: $modal-order-delete-height;
        width: $modal-order-delete-width;
    
        &-title {
            max-width: 600px;
            line-height: 1.19;
        }
    }
    
    .modal-actions {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;

        .btn {
            line-height: 1.19;
        }
    }
}

%modal-order-deleted {
    .ic {
        top: 30px;
    }

    .modal {
        padding: 0;
        height: $modal-order-deleted-height;
        width: $modal-order-deleted-width;
        justify-content: center;
    }
}