@import 'variables';

@font-face {
  font-family: Nexa;
  src: local(NexaRegular),
    url(/fonts/NexaRegular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: NexaHeavy;
  src: local(NexaBold),
    url(/fonts/NexaBold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: NexaSlab;
  src: local(NexaSlabHeavy),
    url(/fonts/NexaSlabHeavy.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

@mixin Text-Style-0 {
  font-size: $text-0-font-size;
  font-weight: bold;
  line-height: 1.35;
  text-align: left;
  color: $black;
}
@mixin Text-Style-1 {
  font-size: $text-1-font-size;
  font-weight: bold;
  line-height: 1.35;
  text-align: left;
  color: $black;
}
@mixin Text-Style-2 {
  font-size: $text-2-font-size;
  line-height: 2.71;
  text-align: left;
  color: $black;
}
@mixin Text-Style-3 {
  font-size: $text-3-font-size;
  font-weight: bold;
  line-height: 3.61;
  text-align: left;
  color: $black;
}
@mixin Text-Style-4 {
  font-size: $text-4-font-size;
  line-height: 3.61;
  text-align: left;
  color: $black;
}
@mixin Text-Style-5 {
  font-size: $text-5-font-size;
  text-align: left;
  color: $black;
}
@mixin Text-Style-6 {
  font-size: $text-6-font-size;
  text-align: left;
  color: $black;
}

html, body {
  font-family: 'Lato', sans-serif;

  @media screen and (max-width: $xlg-width) {
    font-size: 14px;
  }

  @media screen and (min-width: $xlg-width) {
    font-size: $base-font-size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: NexaHeavy;
}

.text-0 {
  @include Text-Style-0();
  
  &-slab {
    @include Text-Style-0();
    font-family: NexaSlab;
  }
}
.text-1 {
  @include Text-Style-1();
  
  &-slab {
    @include Text-Style-1();
    font-family: NexaSlab;
  }
}
.text-2 {
  @include Text-Style-2();
}
.text-3 {
  @include Text-Style-3();
}
.text-4 {
  @include Text-Style-4();
}
.text-5 {
  @include Text-Style-5();
}
.text-6 {
  @include Text-Style-6();
}