@import "colors";
@import "placeholders";
@import "variables";

.new-bin {
    position: relative;
    display: flex;
    
    > * {
        flex: 1;
    }

    &__right-side {
        display: flex;
        justify-content: center;
        align-items: center;

        .map-wrapper {
            width: 627px;
            height: 493px;
            background-image: url(/img/map-preview.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .form-group label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .form-group.bin_address .form-control {
        margin-top: 10px;
        margin-left: 54px;
    }
    
    .form-group.bin_size {
        margin-top: 56px;

        label {
            color: $light-grey;
        }
        
        &.active label {
            color: $black;
        }

        .form-controls {
            display: flex;
            justify-content: space-evenly;
            margin-top: 15px;
        }

        .form-control {
            height: auto !important;
            width: 171px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            padding-top: 1rem;
            padding-left: 25px;
            padding-right: 25px;

            cursor: pointer;
            background: transparent;
            border: none;
        }

        .form-control[disabled] {
            cursor: not-allowed;
        }

        .form-control:not([disabled]):active,
        .form-control:not([disabled]):hover,
        .form-control:not([disabled]).active {
            border-radius: 30px;
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.16);
            background-color: $white;
        }

        .form-control img {
            height: 120px;
            width: 120px;
            object-fit: contain;
            padding: 5px;
        }
    }

    .form-group.bin_address {
        position: relative;

        #address.searched {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        #address,
        #autoComplete_list,
        #autoComplete_list ul,
        #autoComplete_list ul li {
            width: 463px;
        }

        #autoComplete_list {
            position: absolute;
            top: 130px;
            background: $white;
            margin-left: 54px;
            width: 493px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
        
        .autoComplete_result {
            margin: 0;
            height: 61px;
            width: 493px;
            max-width: unset !important;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            cursor: pointer;

            .line-1,
            .line-2 {
                height: 50%;
                margin-left: 30px;
            }

            .line-1 {
                color: $blueberry;
                margin-top: -15px;
                padding-bottom: 20px;
            }

            .line-2 {
                font-size: 0.77rem;
                color: $black;
            }

            &:active,
            &:focus,
            &:hover {
                background: rgba($light-blueberry, 0.2);
                border: .05rem solid #e3e3e3;
            }
        }
    }

    .form-footer {
        margin-top: 58px;
        display: flex;
        justify-content: center;
    }

    .badge {
        margin-bottom: 1px;
        margin-right: 20px;
    }
}

.modal-container {
    &.delete-request {
        @extend %modal-order-delete;
    }

    &.deleted-request {
        @extend %modal-order-deleted;
    }

    &.registered-bin {
        @extend %modal-bin-inserted;
    }
}