@import "colors";
@import "variables";
@import "widgets/modals";

$table-cell-height: 60px;
$table-row-height: 60px;
$cell-gap: 20px;

.bins {
    &__table {
        width: 100%;

        &-body {
            overflow-y: scroll;
        }

        th, td {
            padding-left: 10px;
            padding-right: 10px;
        }

        .district {
            width: 25%;
        }

        .gathering_status {
            min-width: 150px;
            width: 20%;
            max-width: 180px;

            display: flex;
            align-items: center;
            height: 100%;

            .ic {
                margin-right: 5px;
                width: 15px;
                height: 15px;
            }

            &.active {
                color: $light-green;
            }

            &.inactive {
                color: #a5a5a5;
            }
        }

        .storage_level {
            min-width: 280px - $cell-gap;
            max-width: 300px;
            display: flex;
            align-items: center;

            .content {
                width: 50px;
            }
        }
        
        .actions {
            margin-right: 2rem;

            .ic-delete {
                margin-right: 22px;
            }

            .ic-edit {
                margin-right: 50px;
            }
        }

        .loading-bar {
            border-radius: 100px;
            max-width: 300px;
            width: 90%;
            height: 20px;
            border: 1px solid $light-grey;
            background: $white;
            
            &__fill {
                border-top-left-radius: 100px;
                border-bottom-left-radius: 100px;
                height: 100%; 
            }

            &__fill.full {
                border-radius: 100px;
            }
        }
    }
    
    &__header-row {
        line-height: initial;
    }

    &__header-cell {
        color: #a5a5a5;
        font-size: 15px;
    }

    &__header-cell:first-child {
        padding-left: 40px;
    }

    &__cell {
        vertical-align: middle;
        height: $table-cell-height;
        font-size: 15px;
    }

    &__cell:first-child {
        padding-left: 40px;
    }
    
    &__row {
        background: $white;
        border-radius: 5px;
        height: $table-row-height;
        line-height: initial;

        &--spacer {
            background: transparent;
            display: block;
        }
        &--spacer:first-of-type {
            height: 10px;
        }
        &--spacer:not(:first-of-type) {
            height: 3px;
        }

        .loading-bar {
            height: 3px;
            margin-left: 13px;
        }
    }

    &__row--green {
        .storage_level {
            color: $light-green;
        }

        .loading-bar__fill {
            background-color: $light-green;
        }
    }
    
    &__row--yellow {
        .storage_level {
            color: $squash;
        }

        .loading-bar__fill {
            background-color: $squash;
        }
    }

    &__row--red {
        .storage_level {
            color: $tomato;
        }
        
        .bins__cell:first-child {
            border-left: 7px solid;
            border-left-color: $tomato;
            padding-left: 33px;
        }
        
        .loading-bar__fill {
            background-color: $tomato;
        }
    }
}

#bin-delete-modal .modal {
    &-title {
        font-size: 40px;
    }
}

#bin-delete-modal.confirm {
    @extend %modal-bin-delete;
}

#bin-delete-modal.confirmed {
    @extend %modal-bin-deleted;
}
