@import 'colors';
@import 'variables'
;
@import 'dashboard/header';
@import 'dashboard/sidebar';

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: $snow;

    &-loader {
        height: 100%;
        width: 100%;
        position: absolute;
        top: $header-height;
        left: $sidebar-width;
        z-index: 10;

        @-webkit-keyframes blinker {
            from {opacity: 1.0;}
            to {opacity: 0.5;}
        }

        &.blink {
            background: $light-blueberry;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-direction: alternate;
        }

    }
    
    &__body {
        display: flex;
        height: calc(100% - #{$header-height});
    }

    &__main {
        padding: 50px;
        position: relative;
        width: 100%;

        .modal-container {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($black, 0.4);
            z-index: 1000;
            width: inherit;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal {
            max-width: 851px;
            
            border-radius: 5px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
            background: $white;
            position: relative;
            padding: 49px 75.5px 72px 73.5px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .modal .ic-close {
            position: absolute;
            top: 49px;
            right: 30px;
        }

        .modal-title {
            font-size: 36px;
            line-height: 1.19;
            font-weight: 900;
            color: $blueberry;
            text-align: center;
            width: 75%;
            max-width: 445px;
            margin: 0 auto;
        }

        .modal-disclaimer {
            line-height: 27px;
        }

        .modal-actions {
            display: flex;
            justify-content: center;
        }
    }

    &-title {
        font-family: NexaSlab;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.81;
        color: $blueberry;
    }
}
