@import 'colors';
@import 'variables'
;
@import 'dashboard/header';
@import 'dashboard/sidebar';

.dashboard {
    display: flex;
    height: 100%;
    width: 100%;

    &-grid {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1.16fr;
        grid-template-rows: 1fr 1.5fr 2fr;
        grid-template-areas: 
        'vol bin chart'
        'map map chart'
        'map map sched';
        grid-gap: 20px;

        > * {
            background-color: $white;
            background-repeat: no-repeat;
            background-position: 95% bottom;
            background-size: auto 55px;
            position: relative;
            padding: 28px 20px 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__bins {
            grid-area: bin;
            background-image: url(/img/box.svg);
            color: rgba($dark-hot-pink, 0.75);
        }
        &__chart {
            grid-area: chart;
        }
        &__map {
            grid-area: map;
            background-image: url(/img/world.svg);
            color: rgba($blueberry, 0.75);

            .map-wrapper {
                background: $lightest-grey;
                height: 80%;
            }
        }
        &__schedule {
            grid-area: sched;
            background-image: url(/img/appointment.svg);
            color: rgba($squash, 0.75);
        }
        &__volume {
            grid-area: vol;
            background-image: url(/img/truck.svg);
            color: rgba($blueberry, 0.75);
        }

        .title {
            font-size: 32px;
            font-weight: 900;
            line-height: 1.28;
            color: $black;
        }

        .description {
            font-size: 12px;
            line-height: 1.25;
        }
    }

    &-loader {
        height: 100%;
        width: 100%;
        position: absolute;
        top: $header-height;
        left: $sidebar-width;
        z-index: 10;

        @-webkit-keyframes blinker {
            from {opacity: 1.0;}
            to {opacity: 0.5;}
        }

        &.blink {
            background: $light-blueberry;
            -webkit-animation-name: blinker;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-direction: alternate;
        }

    }
    
    &__body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    
    &__main {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        padding: 50px 73px;
        position: relative;

        .modal-container {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($black, 0.4);
            z-index: 1000;
            width: inherit;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal {
            max-width: 851px;
            
            border-radius: 5px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
            background: $white;
            position: relative;
            padding: 49px 75.5px 72px 73.5px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .modal .ic-close {
            position: absolute;
            top: 49px;
            right: 30px;
        }

        .modal-title {
            font-size: 36px;
            line-height: 1.19;
            font-weight: 900;
            color: $blueberry;
            text-align: center;
            width: 75%;
            max-width: 445px;
            margin: 0 auto;
        }

        .modal-disclaimer {
            line-height: 27px;
        }

        .modal-actions {
            display: flex;
            justify-content: center;
        }
    }

    &-title {
        font-family: NexaSlab;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.81;
        color: $black;
    }
}

.empty-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center 30%;

    &__title {
        font-weight: 900;
        font-size: 32px;
    }

    &__disclaimer {
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        line-height: 19px;

        a {
            color: $dark-hot-pink;
        }
    }

    &--bins {
        background-image: url(/img/ilustracao-bins.png);
    }

    &--dashboard {
        background-image: url(/img/ilustracao-dashboard.png);
    }

    &--gathering {
        background-image: url(/img/ilustracao-coletas.png);
    }

    &--requests {
        background-image: url(/img/ilustracao-solicitacoes.png);
    }
}