@import 'colors';

.header {
    background: $dark-blueberry;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
    
    height: 128px;
    
    padding-left: 100px;
    padding-right: 100px;

    .btn--primary {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header,
.header__actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    width: 379px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 51px 0 71px;
    background: $dark-blue-grey;

    &__menu-item {
        color: $light-blueberry;
        padding-left: 39px;
        height: 66px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__menu-item.active,
    &__menu-item:active,
    &__menu-item:hover {
        border-left: 9px solid $dark-hot-pink;
        color: $white;
        padding-left: 30px;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__social-menu {
        display: flex;
        justify-content: center;
        height: 40px;
        width: 100%;
        margin-top: 36px;

        .ic {
            display: block;
        }

        .ic:not(:first-child) {
            margin-left: 22px;
        }
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: $snow;

    &__body {
        display: flex;
        height: 100%;
    }

    &__main {
        padding: 50px;
        position: relative;
        width: 100%;
        height: 100%;

        .modal-container {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($black, 0.4);
            z-index: 1000;
            width: inherit;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal {
            max-width: 851px;
            
            border-radius: 5px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
            background: $white;
            position: relative;
            padding: 49px 75.5px 72px 73.5px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .modal .ic-close {
            position: absolute;
            top: 49px;
            right: 75.5px;
        }

        .modal-title {
            font-size: 36px;
            line-height: 1.19;
            font-weight: 900;
            color: $blueberry;
            text-align: center;
        }

        .modal-actions {
            display: flex;
            justify-content: center;
        }
    }

    &-title {
        font-family: NexaSlab;
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.81;
        color: $blueberry;
    }
}