@import "logged-out-page";

.login {
  input.form-control,
  .form-control input {
    height: 80%;
  }

  .form-group .icon {
    margin-right: 20px;
    
    @media screen and (max-width: $md-width) {
      margin-right: 10px;
    }
  }

  .form-group.email {
    margin-top: 23px;

    .icon {
        background-image: url(/icons/email.svg);
        width: 19px;
        height: 15px;
    }
  }

  .form-group.password {
    margin-top: 19px;

    .icon {
        background-image: url(/icons/password.svg);
        width: 18px;
        height: 23px;
    }
  }

  #forgot-pass {
    color: $dark-hot-pink;
  }
}
