@import 'reset';

.capitalize {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.logo {
  width: 110px;
  height: 110px;
}

img {
  object-fit: none;
}

@import 'buttons';
@import 'forms';
@import 'typography';

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/alert";
