@import 'reset';

.container {
  height: 100vh;
  width: 100vw;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.logo {
  width: 110px;
  height: 110px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: none;
}

@import 'buttons';
@import 'forms';
@import 'icons';
@import 'typography';

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/alert";
