@import 'colors';
@import 'variables';

.profile-page {
    display: flex;
        
    @media screen and (min-width: $xlg-width + 100px) {
        max-width: $xlg-width - 100px;
    }

    .logo-wrapper {
        width: 111px;
        height: 111px;
        border-radius: 50%;
        position: relative;
        padding: 0 !important;
        
        > * {
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        img {
            z-index: 1;
        }

        input {
            opacity: 0;
            z-index: 10;
        }
    }

    form {
        flex: 1;
    }

    .form-control {
        margin: 0;
        padding: 0 15px;
        width: unset;
    }

    .divider {
        width: 1px;
        margin: 0 20px;
    }
    
    .form-footer {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        flex: 1;
        align-items: flex-end;
    }

    .payment__form {
        .form-row {
            display: flex;
            justify-content: space-between;
    
            .form-group {
                max-width: 40%;
            }
        }
    }
    
    #payment_confirm {
        .modal {
            max-width: 655px;
            padding: 45px 75.5px 50px 73.5px;
        }
    
        .modal-title {
            max-width: 530px;
            line-height: 2.19;
        }
    
        .modal-disclaimer {
            margin: 30px 66px;
            line-height: 1.25;
            text-align: center;
        }
    }
}

