.payment__form {
    max-width: 600px;

    .form-group {
        margin-top: 20px;
    }

    .form-row {
        display: flex;
        justify-content: space-between;

        .form-group {
            max-width: 250px;
        }
    }

    .form-footer {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
}

#payment_confirm {
    .modal {
        max-width: 655px;
        padding: 45px 75.5px 50px 73.5px;
    }

    .modal-title {
        max-width: 530px;
        line-height: 2.19;
    }

    .modal-disclaimer {
        margin: 30px 66px;
        line-height: 1.25;
        text-align: center;
    }
}
