@import "logged-out-page";
@import "variables";

.register {
    .step-1 .link--primary {
        display: flex;
    }

    .step-1 .link--primary:after {
        background-image: url(/icons/next.svg);
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 0.7rem;
        width: 0.7rem;
        background-size: contain;
        margin-left: 12px;
    }
}