@import "logged-out-page";
@import "variables";

.register {
    .step-1 .link--primary,
    .step-2 .link--primary {
        font-size: $text-4-font-size;
    }

    .step-1 .link--primary {
        display: flex;
    }

    .step-1 .link--primary:after {
        background-image: url(/icons/next.svg);
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: $text-5-font-size;
        width: $text-5-font-size;
        background-size: contain;
        margin-left: 12px;
        margin-top: 3px;
    }
}