@import "widgets/cards";
@import "widgets/modals";
@import "widgets/wizard-step";

#confirm-delete-modal .modal {
    @extend %modal-order-delete;
}

#confirmed-delete-modal {
    @extend %modal-order-deleted;
}

#confirm-delete-modal,
#confirmed-delete-modal {
    .modal .modal-title {
        width: initial;
        max-width: initial;
    }
}

.order.card {
    cursor: pointer;
}
