#confirm-delete-modal .modal {
    height: 276px - 49px;
    width: 778px - 75.5px - 73.5px;

    .ic {
        display: none;
    }

    .modal-actions {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}